<div class="w-100">
    <div class="d-flex w-100">
        <h2 class="m-0">{{data?.name ? data.name : 'Ably'}}</h2>
        <mat-icon class="cursor-pointer ml-auto" color="accent" (click)="snackbar.dismiss()">close</mat-icon>
    </div>

    <div>
        <small>{{data?.timestamp | date:'medium'}}</small>
    </div>

    <div *ngFor="let item of data?.data" class="mt-2">
        <div *ngFor="let kv of item | keyvalue">
            <b>{{kv.key}}</b>: {{kv.value}}
        </div>
    </div>
</div>
<!--    <div>-->
<!--        <button (click)="snackbar.dismiss()" mat-button color="accent">{{data?.name ? data.name : 'Ably'}}</button>-->
<!--    </div>-->



