<app-header></app-header>
<div class="container mt-4">
    <mat-card class="p-4">
        <img src="assets/images/ably-logo-full-rbg-pos.png" width="185px">
        <h2 class="header mt-3">{{title.getTitle()}}</h2>
        <p>{{appSummary}}</p>
        <app-action-bar></app-action-bar>
        <router-outlet></router-outlet>
    </mat-card>
</div>
