<section id="home">
    <div *ngIf="!configured else Configured">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>
    <ng-template #Configured>
        <hr class="mt-4 mb-4"/>

        <p class="p-1">
            Welcome to the Xano Ably Extension! You can use this extension for real-time chat, notifications, or
            any other real-time feature.
        </p>

        <p class="p-1">
            The channel input tells Ably where to publish your data. The event name is a label for the type of event
            occurring. (e.g. new-message, new-friend-request, etc.). The data is the payload, which could include user
            info, message content, etc. Once you publish, you will see the real-time response of your data from Ably.
        </p>

        <h2 class="p-1">Try it out</h2>
        <form [formGroup]="ablyForm" class="w-100 d-flex flex-column flex-md-row" autocomplete="off">
            <mat-form-field appearance="outline" class="flex-fill mr-md-4">
                <mat-label>Channel</mat-label>
                <input formControlName="channel" matInput required/>
                <mat-error *ngIf="ablyForm.controls.channel.hasError('required')">
                    Channel is required.
                </mat-error>
                <mat-error *ngIf="ablyForm.controls.channel.hasError('pattern')">
                    Please only use Alphanumeric, underscores, and dashes.
                </mat-error>
                <mat-hint *ngIf="ablyForm.controls.channel.valid">
                    This is the Ably channel you want to publish to.
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Event Name</mat-label>
                <input formControlName="event_name" matInput/>
                <mat-hint>
                    The event name (e.g. new-message, notification, new-follower, etc)
                </mat-hint>
            </mat-form-field>
        </form>

        <div class="w-100 mt-4">
            <div class="w-100 d-flex">
                <div><b>Data</b></div>
                <div class="ml-auto">
                    <mat-icon (click)="addData()" class="cursor-pointer">add</mat-icon>
                </div>
            </div>
            <table [dataSource]="data" class="w-100" mat-table>
                <ng-container matColumnDef="key">
                    <th *matHeaderCellDef mat-header-cell>Key</th>
                    <td *matCellDef="let row" mat-cell>
                        <mat-form-field appearance="outline">
                            <input (change)="row.key = $event.target['value']" [value]="row.key" matInput autocomplete="off"
                                   type="text">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th *matHeaderCellDef mat-header-cell>Value</th>
                    <td *matCellDef="let row" mat-cell>
                        <mat-form-field appearance="outline">
                            <input (change)="row.value = $event.target['value']" [value]="row.value" matInput autocomplete="off"
                                   type="text">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="remove">
                    <th *matHeaderCellDef mat-header-cell>Remove</th>
                    <td *matCellDef="let row; let i = index" mat-cell>
                        <mat-icon (click)="removeData(i)" class="cursor-pointer">delete</mat-icon>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="['key', 'value', 'remove']"
                    mat-header-row></tr>
                <tr *matRowDef="let row; columns: ['key', 'value', 'remove'];"
                    mat-row></tr>
            </table>
        </div>
        <div class="d-flex justify-content-end align-items-end mt-2">
            <button (click)="submit()" color="primary" mat-flat-button>Publish</button>
        </div>
    </ng-template>
</section>
